<?xml version="1.0"?>
<configuration>

  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
  
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>

      <endpointBehaviors>
        <behavior name="webHttp" >
          <webHttp faultExceptionEnabled="true" defaultBodyStyle="Bare" automaticFormatSelectionEnabled="true" 
                   defaultOutgoingResponseFormat="Json" helpEnabled="true"/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />

    <services>
      <service name="HttpMultiRequest.Service1">
        <endpoint address="" binding="webHttpBinding" contract="HttpMultiRequest.IService1" behaviorConfiguration="webHttp">
        </endpoint>
      </service>
    </services>
  </system.serviceModel>
  
 <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
  
</configuration>
